{% extends '_base.html' %}
{% block title %}Update hitmen{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
        {% endfor %}
    {% endif %}
    <h1>Update hitmen</h1>
    <form id="update-hitmen" action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <ul>
            {% for lackey in customuser.lackeys.all %}
                <li>{{ lackey }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'list_hit' %}">Back</a>
        {% if customuser.is_active %}
            <input type="submit" value="Save">
        {% else %}
            <input type="submit" value="Save" disabled>
        {% endif %}
    </form>
{% endblock %}

{% block js %}
    <script>
        $('#update-hitmen').on('submit', function () {
            $('input, select').prop('disabled', false)
        })
    </script>
{% endblock %}