{% extends '_base.html' %}
{% block title %}Update hit{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
        {% endfor %}
    {% endif %}
    <h1>Update hit</h1>
    <form id="update-hit" action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'list_hit' %}">Back</a>
        {% if hit.status == hit.Status.FAILED %}
            <input type="submit" value="Save" disabled>
        {% else %}
            <input type="submit" value="Save">
        {% endif %}
    </form>
{% endblock %}

{% block js %}
    <script>
        $('#update-hit').on('submit', function () {
            $('input, select').prop('disabled', false)
        })
    </script>
{% endblock %}