{% extends '_base.html' %}
{% block title %}Update hit{% endblock %}
{% block content %}
    <h1>Update hit bulk</h1>
    <form id="update-hit" action="" method="POST">{% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <a href="{% url 'list_hit' %}">Back</a>
        <input type="submit" value="Save">
    </form>
{% endblock %}

{% block js %}
{#    <script>#}
{#        $('#update-hit').on('submit', function () {#}
{#            $('input, select').prop('disabled', false)#}
{#        })#}
{#    </script>#}
{% endblock %}